[user]
  email = saturnhs@gmail.com
  name = Malcolm McCrimmon
[pull]
  ff = only
[alias]
  gconf = config --global
  rebasem = rebase main --rebase-merges
  mergem = merge main
  st = status
  ci = commit
  ca = commit --all
  cam = commit -am
  br = branch
  ba = branch --all
  ch = checkout
  cm = checkout main
  nb = checkout -b
  su = push --set-upstream origin
  ap = add -p
  fe = fetch
  pr = fetch --prune
  loo = log --oneline
  lo = log --oneline -20
  