[user]
  email = saturnhs@gmail.com
  name = Malcolm McCrimmon
[pull]
  ff = only
[alias]
  cg = config --global
  gconf = config --global
  rebasem = rebase main --rebase-merges
  mergem = merge main
  st = status
  ci = commit
  ca = commit --all
  cim = commit -m
  cam = commit --all -m
  br = branch
  ba = branch --all
  si = switch
  sw = switch
  sb = switch -
  sm = switch main
  nb = switch -c
  su = push --set-upstream origin HEAD
  ap = add --patch
  fe = fetch --all
  pr = fetch --prune
  low = log -10
  loo = log --oneline
  lo = log --oneline -20
  
